# Read and Merge 3 Months Data

Import relevant modules

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

Select relevant columns

In [2]:
col_list = ["TimeStamp", "Power_kW","WindSpeed_mps"]

Read relevant columns from csv files

In [3]:
df1 = pd.read_csv(r'C:\Users\AliMS\Documents\project\code\data\2018_05.csv', usecols = col_list)
df2 = pd.read_csv(r'C:\Users\AliMS\Documents\project\code\data\2018_06.csv', usecols = col_list)
df3 = pd.read_csv(r'C:\Users\AliMS\Documents\project\code\data\2018_07.csv', usecols = col_list)

Merge the data

In [4]:
df = pd.concat([df1, df2, df3])

Write to blank csv file

In [5]:
df.to_csv(r'C:\Users\AliMS\Documents\project\code\data\2018_567.csv')

In [6]:
df

                       TimeStamp  Power_kW  WindSpeed_mps
0        2018-05-01 00:00:00.330       0.0       1.821885
1        2018-05-01 00:00:01.462       0.0       1.821885
2        2018-05-01 00:00:02.483       0.0       1.891693
3        2018-05-01 00:00:03.505       0.0       1.891693
4        2018-05-01 00:00:04.556       0.0       1.896271
...                          ...       ...            ...
2624997  2018-07-31 23:59:54.929    6476.0      11.327270
2624998  2018-07-31 23:59:55.950    6476.0      11.327270
2624999  2018-07-31 23:59:56.952    6516.0      12.629600
2625000  2018-07-31 23:59:57.993    6516.0      12.629600
2625001  2018-07-31 23:59:59.015    6516.0      12.629600

[7621349 rows x 3 columns]